
*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color:rgb(52, 46, 46);
}
a{
    text-decoration: none;
    color: white;
}

header {
    top: 0;
    position: fixed;
    background-color: orange;
    width: 100%;
}
.header {
    width: 100%;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    padding: 25px 25px 25px 2px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 20px;
}

.searchText {
    border:none;
    border-radius: 15px;
    outline: none;
    height: 40px;
    width: 250px;
    padding-left: 10px;
}

.searchText:focus {
    outline: none;  
}

.searchBtn {
    background-color: orange;
    border-radius: 50px;
    position: absolute;
    margin-left: 220px;
    display: grid;
    place-items: center;
}

.navbar {
    display: flex;
    margin-left: 400px;
}
.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

.classification {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    
}

.banner {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:ghostwhite;
    max-width: 100%;
    font-size: 40px;
    background-color: orange;
    text-align: center;
    padding: 15px;
}



.product-list {
    list-style: none;
    margin-bottom: 20;
    margin-top: 20;
    display: flex;
    margin-bottom: 50px;
  }
  
  .product-list li {
    display: flex;
    margin-bottom: 10px;
  }
  
  .product-list li img {
    width: 150px;
    height: 150px;
  }
  
  .product-list li h2 {
    margin-left: 10px;
  }
  
  .product-list li p {
    margin-left: 10px;
  }

  .product-illu{
    padding: 20px 40px 0px 40px;
  }


.image {
    height: 150px;
    width: 150px;
}